<h1>Фиксирование прибытия оборудования</h1>
<form [formGroup]="myForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate mat-dialog-content>
    <div class = "wrapper">
        <div class="one">
            <label for="equipmentName">Наименование</label>
            <input id = "equipmentName" [(ngModel)]="equipment.equipmentName" formControlName="equipmentName" class="input_field" type="text" 
            required minlength="5" maxlength="15"/>
        
            <div *ngIf="f.submitted" class="danger">
            <span *ngIf="_equipmentName?.errors?.['required']">Пустое название недопустимо</span>
            <span *ngIf="_equipmentName?.errors?.['minlength']">Введите больше 5 символов</span>
            <span *ngIf="_equipmentName?.errors?.['maxlength']">Введите меньше 15 символов</span>
            </div>
    <label for="equipmentOrderNumber">Заказной номер</label>
    <input id = "equipmentOrderNumber" [(ngModel)]="equipment.equipmentOrderNumber" formControlName="equipmentOrderNumber" class="input_field" type="text"
    required minlength="3" maxlength="15"/>
        <div *ngIf="f.submitted" class="danger">
        <span *ngIf="_equipmentOrderNumber?.errors?.['required']">Пустое название недопустимо</span>
        <span *ngIf="_equipmentOrderNumber?.errors?.['minlength']">Введите больше 3 символов</span>
        <span *ngIf="_equipmentOrderNumber?.errors?.['maxlength']">Введите меньше 15 символов</span>
        </div>
    <label for="equipmentSerialNumber">Серийный номер</label>
    <input id = "equipmentSerialNumber" [(ngModel)]="equipment.equipmentSerialNumber" formControlName="equipmentSerialNumber" class="input_field" type="text"
    required minlength="3" maxlength="15"/>
    <div *ngIf="f.submitted" class="danger">
        <span *ngIf="_equipmentSerialNumber?.errors?.['required']">Пустое название недопустимо</span>
        <span *ngIf="_equipmentSerialNumber?.errors?.['minlength']">Введите больше 3 символов</span>
        <span *ngIf="_equipmentSerialNumber?.errors?.['maxlength']">Введите меньше 15 символов</span>
        </div>
    <label for="movingFrom">От кого</label>
    <input id = "movingFrom" [(ngModel)]="equipmentMoving.movingFrom" formControlName="movingFrom" class="input_field" type="text"
    required minlength="5" maxlength="15"/>
    <div *ngIf="f.submitted" class="danger">
        <span *ngIf="_movingFrom?.errors?.['required']">Пустое название недопустимо</span>
        <span *ngIf="_movingFrom?.errors?.['minlength']">Введите больше 5 символов</span>
        <span *ngIf="_movingFrom?.errors?.['maxlength']">Введите меньше 15 символов</span>
        </div>
    <label for="movingTo">Кому</label>
    <input id = "movingTo" [(ngModel)]="equipmentMoving.movingTo" formControlName="movingTo" class="input_field" type="text"
    required minlength="5" maxlength="15"/>
    <div *ngIf="f.submitted" class="danger">
        <span *ngIf="_movingTo?.errors?.['required']">Пустое название недопустимо</span>
        <span *ngIf="_movingTo?.errors?.['minlength']">Введите больше 5 символов</span>
        <span *ngIf="_movingTo?.errors?.['maxlength']">Введите меньше 15 символов</span>
        </div>
</div>
<div class="two">
    
    <div class = "descr">
    <label for="description">Описание</label>
    <textarea id = "description" [(ngModel)]="equipmentMoving.description" formControlName="description"
    required minlength="10" maxlength="30"
    style="padding-bottom:70px ;
    font-size:16px;
    height: 30px;
    width: 444px">
    </textarea>
    <div *ngIf="f.submitted" class="danger">
        <span *ngIf="_description?.errors?.['required']">Пустое название недопустимо</span>
        <span *ngIf="_description?.errors?.['minlength']">Введите больше 10 символов</span>
        <span *ngIf="_description?.errors?.['maxlength']">Введите меньше 30 символов</span>
        </div>
    <mat-form-field appereance="fill" class = "select">
        <mat-label>Категория</mat-label>
        <mat-select [(ngModel)] = "equipment.category" formControlName = "category">
            <mat-option *ngFor="let category of categories" [value]="category.categoryName">
            {{category.categoryName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <label for="purpose">Назначение</label>
    <textarea id = "purpose" [(ngModel)]="equipmentMoving.purpose" formControlName="purpose"
    required minlength="10" maxlength="30"
    style="padding-bottom:70px ;
    font-size:16px;
    height: 30px;
    width: 444px">
    </textarea>
    <div *ngIf="f.submitted" class="danger">
        <span *ngIf="_purpose?.errors?.['required']">Пустое название недопустимо</span>
        <span *ngIf="_purpose?.errors?.['minlength']">Введите больше 10 символов</span>
        <span *ngIf="_purpose?.errors?.['maxlength']">Введите меньше 30 символов</span>
        </div>
    </div>
</div>

</div>
<div class="btn_add">
    <button class="but" >Добавить</button>
  </div>
  </form>