
<div class="movingEquipment">
    <h1>Журнал действий пользователей</h1>
    <div class = "searchFields">
        
        <mat-form-field class = "filter">
            <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Поиск">
        </mat-form-field>
    </div>
    
    <div class = "matTable" >
        
        <table mat-table [dataSource]="dataSource" class="moving-table" >
        
            <ng-container matColumnDef="moving-date">
                <th mat-header-cell *matHeaderCellDef> Дата</th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.movingDate}} </td>
              </ng-container>
              <ng-container matColumnDef="moving-user">
                <th mat-header-cell *matHeaderCellDef> Пользователь</th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.user.username}} </td>
              </ng-container>
              <ng-container matColumnDef="moving-name">
                <th mat-header-cell *matHeaderCellDef>Наименование</th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.equipment.equipmentName}} </td>
              </ng-container>
              <ng-container matColumnDef="moving-order">
                <th mat-header-cell *matHeaderCellDef>Заказаной номер</th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.equipment.equipmentOrderNumber}} </td>
              </ng-container>
    
              <ng-container matColumnDef="moving-serial">
                <th mat-header-cell *matHeaderCellDef>Серийный номер</th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.equipment.equipmentSerialNumber}} </td>
              </ng-container>
    
              <ng-container matColumnDef="moving-category">
                <th mat-header-cell *matHeaderCellDef>Категория</th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.equipment.category.categoryName}} </td>
              </ng-container>
              
              <ng-container matColumnDef="moving-purpose">
                <th mat-header-cell *matHeaderCellDef>Назначение</th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.purpose}} </td>
              </ng-container>
              <ng-container matColumnDef="moving-from">
                <th mat-header-cell *matHeaderCellDef>От кого</th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.movingFrom}} </td>
              </ng-container>
    
              <ng-container matColumnDef="moving-to">
                <th mat-header-cell *matHeaderCellDef>Кому</th>
                <td mat-cell *matCellDef="let element"  [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.movingTo}} </td>
              </ng-container>
    
              <ng-container matColumnDef="moving-description">
                <th mat-header-cell *matHeaderCellDef>Описание</th>
                <td mat-cell *matCellDef="let element"  [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.description}} </td>
              </ng-container>
    
              <ng-container matColumnDef="moving-temporary">
                <th mat-header-cell *matHeaderCellDef>Временно</th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.isTemporary}} </td>
              </ng-container>
    
              <ng-container matColumnDef="moving-return">
                <th mat-header-cell *matHeaderCellDef>Дата возврата</th>
                <td mat-cell *matCellDef="let element"  [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.returnDate}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="getRecord(row)"
              [class.demo-row-is-clicked]="clickedRows.has(row)">
              ></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>
        </div>
        
</div>
<div  class = "buttons " *ngIf="authority=='admin'">
    <div class="btn_add">
        <button class="but1" (click)="addUser()">Добавить пользователя</button>
    </div>
    <div class="btn_delete">
        <button class="but2 " (click)="deleteUser()">Удалить пользователя</button>
    </div>
</div>