
<div class="movingEquipment">
    <h1>Перемещение оборудования</h1>
    <div class = "searchFields">
        <mat-form-field appereance="fill" class = "select">
            <mat-label>Категория</mat-label>
            <mat-select (selectionChange)="onChange($event)">
                <mat-option *ngFor="let category of categories" [value]="category.categoryName">
                {{category.categoryName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field class = "filter">
            <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
        </mat-form-field>
    </div>
    
    <div class = "matTable" >
        
        <table mat-table [dataSource]="dataSource" class="moving-table" >
        
            <ng-container matColumnDef="moving-date">
                <th mat-header-cell *matHeaderCellDef> Дата            </th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.movingDate}} </td>
              </ng-container>
    
              <ng-container matColumnDef="moving-name">
                <th mat-header-cell *matHeaderCellDef>Наименование</th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.equipment.equipmentName}} </td>
              </ng-container>
              <ng-container matColumnDef="moving-category">
                <th mat-header-cell *matHeaderCellDef>Категория</th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.equipment.category.categoryName}} </td>
              </ng-container>
              <ng-container matColumnDef="moving-order">
                <th mat-header-cell *matHeaderCellDef>Заказаной номер</th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.equipment.equipmentOrderNumber}} </td>
              </ng-container>
    
              <ng-container matColumnDef="moving-serial">
                <th mat-header-cell *matHeaderCellDef>Серийный номер</th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.equipment.equipmentSerialNumber}} </td>
              </ng-container>
    
              <ng-container matColumnDef="moving-from">
                <th mat-header-cell *matHeaderCellDef>От кого</th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.movingFrom}} </td>
              </ng-container>
    
              <ng-container matColumnDef="moving-to">
                <th mat-header-cell *matHeaderCellDef>Кому</th>
                <td mat-cell *matCellDef="let element"  [ngStyle]="{'background-color':element.movingType === 'Приход' ? '#90EE90' : '#FFA07A' }"> {{element.movingTo}} </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
             
              ></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>
        </div>
</div>